@model Models.Material

@{
    Layout = null;
}

<div>
    <p style="text-align:center"> ¿Esta seguro que desea eliminar este material?</p>
    <p style="text-align:center" id="Nombre"></p>
    <br />
</div>
<script src="~/Scripts/ViewScript/ModalViews/Eliminar.js"></script>